body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f8faf9;
    color: #333;
}

#viewResumeBtn {
    color: #f5f4f4;
    background-color: #333;
    border-color: #555;
}
.card {
    transition: all 0.3s;
}
.card:hover {
  transform: scale(1.15); 
  
}


/* services section css */
.servicesText.card {
    height: 280px;
    cursor: pointer;
}

.servicesIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
}

.card-title, .servicesIcon {
    text-align: center;
}

.card:hover .servicesIcon {
    color: #008000;
}

.servicesText:hover {
    border: 1px solid #008000;
}

/* display background color black on navbar scroll */
.navbarScroll.navbarDark {
    background-color: black;
}

.py-5 {
    display: flex;
    justify-content: space-between;
}

.container1 {
    width: 48%;
    padding: 20px;
    border: 1px solid #ccc;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

h1, h2 {
    font-size: 36px;
    margin-bottom: 10px;
    color: #333;
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
    color: #555;
}

/* Navigation bar styles */
nav {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    
}
.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #55a6e3;
}

/* Cover section styles */
@keyframes slide {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 0;
    }
}

#cover {
    background-image: url('images/bg.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #fff;
    text-align: center;
    padding: 100px 0;
    animation: slide 10s linear infinite;
}

#cover h1 {
    font-size: 36px;
}

#cover h2 {
    font-size: 24px;
}

/* Other section styles can be added here */

/* Contact section styles */
#contact {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 30px 0;
}

/* resume section styling */
/* Hide the iframe initially */
.iframe-container {
    display: none;
}

/* Add styling to the Resume section */
#resume {
    background-color: #f9f9f9;
    padding: 30px;
}

/* skills section*/
/* Skills Section Styles */
#skills {
    background-color: #f9f9f9;
    padding: 30px;
}

.skill-list {
    list-style-type: none;
    padding: 0;
}

.skill-item {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.skill-item.active {
    opacity: 1;
    transform: translateY(0);
}

.contact-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #b8d8f0;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.contact-button:hover {
    background-color: #333;
}
